/* Black color: #141414 */
/* White color: #eee */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2rem;
}

#container {
  margin: 0 auto;
  max-width: 900px;
}

.jumbotron {
  color: #141414;
  background-color: #eee;
  text-align: center;
  margin: 1rem 0;
  height: auto;
  padding: 1rem;
}

/* --------------------- */
/* NAVBAR                */
/* --------------------- */
.bg-custom {
  background-color: #eee;
  height: 4rem;
}

#top-scores {
  border-radius: 5px;
  height: auto;
  transition: background-color 0.2s;
}

#top-scores:hover {
  background-color: #f8f8f8;
}

.navbar-text.level {
  background-color: #fafafa;
  color: #141414 !important;
  font-weight: 700;
  border-radius: 5px;
}

#current-level,
#current-lives,
#current-score,
#best-score {
  font-size: 1.4rem;
}

#current-lives {
  color: #d33838;
}

#current-lives>.fa-heart {
  padding-right: 2px;
  padding-left: 2px;
}

#current-lives>.fa-heart:first-child {
  padding-left: 0;
}

#current-lives>.fa-heart:last-child {
  padding-right: 0;
}

.navbar-text {
  color: #141414 !important;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  margin-right: 1.5rem;
}

.dog-logo {
  margin-left: 1.5rem;
  transition: transform 0.05s;
}

.dog-logo:hover {
  transform: scale(1.05);
}

/* --------------------- */
/* PICTURES              */
/* --------------------- */
.picture-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;

  height: 250px;
  width: 100%;
  
  border: 5px solid #dee2e6;
  border-radius: 0.25rem;
  
  transition: all 0.2s;
  transition: display 0.5s;
}

.picture-container:hover {
  transform: scale(1.05);
  filter: brightness(0.85);
}

/* --------------------- */
/* OTHERS                */
/* --------------------- */
#jumbotron-message {
  padding: 0.3rem;
}

#dog-breed {
  font-size: 2.5rem;
  font-weight: 700;
}

#modalCenter {
  background-color: rgb(0, 0, 0, 0.9);
}

.modal-header {
  text-align: center;
  display: block;
  padding-bottom: 0;
}

h1.modal-title {
  font-size: 1.5rem;
}

.modal-header>.modal-title #display-score {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
}

.modal-content {
  background-color: #eee;
}

.modal-footer .btn-primary {
  background-color: #141414 !important;
  border-color: #141414 !important;
}

.modal-footer .btn-primary:active {
  background-color: #666666 !important;
  border-color: #666666 !important;
}

.modal-footer .btn-secondary {
  background-color: #fff;
  border-color: #fff;
  color: #666666;
}

.fadeOut {
  opacity: 0;
  transition: opacity 2s ease-in;
}

/* .appear {
  opacity: 1;
}  */

/* @keyframes example {
  from { 
    opacity: 1;
  }
  
  to { 
    opacity: 0;
  }
} */

#jumbotron-message {
  animation-name: example;
  animation-duration: 4s;
  /* animation-fill-mode: forwards; */
}

/* ----------------------- */
/* Mobile Friendly         */
/* ----------------------- */
@media only screen and (max-width: 767px) {
  .picture-container {
    height: 175px;
  }

  .navbar-text,
  #current-level, 
  #current-lives, 
  #current-score, 
  #best-score {
    font-size: 14px;
  }

  #current-level,
  #current-lives,
  #current-score,
  #best-score {
    display: block;
  }

  .navbar-text {
    text-align: end;
  }

  .navbar-text.level {
    text-align: center;
    border-radius: 50%;
  }

  h1 {
    font-size: 16px;
  }

  #dog-breed {
    font-size: 24px;
  }

  hr.my-4 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
}

@media only screen and (max-width: 575px) {
  .dog-logo {
    width: 50px;
    height: 50px;
    margin-left: 0;
  }

  .container-mobile {
    width: 90%;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .navbar-text {
    margin-right: 0.5rem;
  }

  #current-lives>.fa-heart {
    padding-right: 0.5px;
    padding-left: 0.5px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-text {
    margin-right: 0;
  }

  .navbar-text,
  #current-level,  
  #current-lives, 
  #current-score, 
  #best-score {
    font-size: 10px;
  }

  .picture-container {
    height: 125px;
  }

  #pictures-row>.col-6:nth-child(odd) {
    display: flex;
    justify-content: flex-start;
  }

  #pictures-row>.col-6:nth-child(even) {
    display: flex;
    justify-content: flex-end;
  }

  .picture-container {
    height: 100px;
  }
}