/* Grey color: #141414 */
/* White color: #eee */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: #141414;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2rem;
}

#container {
  margin: 0 auto;
  max-width: 900px;
}

.jumbotron {
  color: #141414;
  background-color: #eee;
  text-align: center;
  margin: 1rem 0;
  height: auto;
  padding: 1rem;
}

/* --------------------- */
/* NAVBAR                */
/* --------------------- */
.bg-custom {
  background-color: #eee;
  height: 4rem;
}

#top-scores {
  border-radius: 5px;
  height: auto;
  transition: background-color 0.2s;
}

#top-scores:hover {
  background-color: #f8f8f8;
}

.level {
  background-color: #d1e2d3;
  border-radius: 5px;
}

#current-level,
#current-lives,
#current-score,
#best-score {
  font-size: 1.4rem;
}

.navbar-text {
  color: #141414 !important;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  margin-right: 1.5rem;
}

.dog-logo {
  margin-left: 1.5rem;
  transition: transform 0.05s;
}

.dog-logo:hover {
  transform: scale(1.05);
}

/* --------------------- */
/* PICTURES              */
/* --------------------- */
.picture-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;

  height: 250px;
  width: 100%;
  
  border: 5px solid #dee2e6;
  border-radius: 0.25rem;
  
  transition: all 0.2s;
  transition: display 0.5s;
}

.picture-container:hover {
  transform: scale(1.05);
  /*opacity: 0.95;*/
  filter: brightness(0.85);
}

/* --------------------- */
/* OTHERS                */
/* --------------------- */
#jumbotron-message {
  padding: 0.3rem;
}

#dog-breed {
  font-size: 2.5rem;
  font-weight: 700;
}

#modalCenter {
  background-color: rgb(20, 20, 20, 0.8);
}

.modal-content {
  background-color: #eee;
}

@media only screen and (max-width: 767px) {
  .picture-container {
    height: 175px;
  }

  .navbar-text,
  #current-level, 
  #current-lives, 
  #current-score, 
  #best-score {
    font-size: 14px;
  }

  h1 {
    font-size: 16px;
  }

  #dog-breed {
    font-size: 24px;
  }

  hr.my-4 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
}

@media only screen and (max-width: 575px) {
  .dog-logo {
    width: 50px;
    height: 50px;
  }

  .container-mobile {
    width: 90%;
  }

  .nav-item {
    background-color: #eee;
    z-index: 9999;
    width: 70%;
  }
  
  .nav-item:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .nav-item:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }

  #top-scores {
    padding-left: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .picture-container {
    height: 125px;
  }

  #pictures-row>.col-6:nth-child(odd) {
    display: flex;
    justify-content: flex-start;
  }

  #pictures-row>.col-6:nth-child(even) {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 400px) {
  .picture-container {
    height: 100px;
  }
}