/* Grey color: #141414 */
/* White color: #eee */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: #141414;
  font-family: "Lato", sans-serif;
}

#container {
  margin: 0 auto;
  max-width: 900px;
}

.jumbotron {
  color: #141414;
  background-color: #eee;
  text-align: center;
  margin: 1rem 0;
  height: auto;
  padding: 1rem;
}

.container-custom {
  max-width: 70%;
}

/* --------------------- */
/* REUSABLE CODES        */
/* --------------------- */
.hide {
  /* visibility: hidden; */
}

/*
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
*/

/* --------------------- */
/* NAVBAR                */
/* --------------------- */
.bg-custom {
  background-color: #eee;
  height: 4rem;
}

#top-scores {
  border-radius: 5px;
  height: auto;
  transition: background-color 0.2s;
}

#top-scores:hover {
  background-color: #f8f8f8;
}

.level {
/*  margin-right: 1.5rem;*/
  background-color: #d1e2d3;
  border-radius: 5px;
}

#current-level,
#current-lives,
#current-score,
#best-score {
  font-size: 1.4rem;
}

.navbar-text {
  color: #141414 !important;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  margin-right: 1.5rem;
}

.dog-logo {
  margin-left: 1.5rem;
  transition: transform 0.05s;
}

.dog-logo:hover {
  transform: scale(1.05);
}

/* --------------------- */
/* PICTURES              */
/* --------------------- */
.picture-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;

  height: 250px;
  width: 100%;
  
  border: 5px solid #dee2e6;
  border-radius: 0.25rem;
  
  transition: all 0.2s;
/*  z-index: 1;*/
}

.picture-container:hover {
  transform: scale(1.05);
  /*opacity: 0.95;*/
  filter: brightness(0.85);
}

/* 
.picture-1 {
  background-image: url(../img/dog1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
}

.picture-2 {
  background-image: url(../img/dog2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
}

.picture-3 {
  background-image: url(../img/dog3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
}

.picture-4 {
  background-image: url(../img/dog4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
}

.picture-5 {
  background-image: url(../img/dog5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
}

.picture-6 {
  background-image: url(../img/dog6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
} */

/* --------------------- */
/* OTHERS                */
/* --------------------- */
.message {
  text-align: center;
  margin: 1rem auto;
}

#message {
  color: #eee;
}

#dog-breed {
  font-size: 2.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 575px) {
  .dog-logo {
    width: 50px;
    height: 50px;
  }
}